<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    <title>AMG</title>
</head>
<body>

    <div class="banner">

        <div class="navbar">
            <p class="logo">AUMG</p>

            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/generateHighlights">Generate Highlights</a></li>
            </ul>

        </div>

        <div class="content">
            <h1>Generate Match Highlights</h1>
            <p>Easily Generate Match Highlights using our tool. Click on the below button to start Generating</p>
            <div>
                <button type="button"><span></span><a href="/AUMG">Generate</a></button>
            </div>
        </div>
    </div>
</body>
</html>